extends layout

block content
  section.main-content
    h2= title
    h3 Hey there and welcome to my portfolio.
    p I'm Vladimir Vujosevic, a front-end developer and ruby(on rails, sinatra, cuba) developer in the making. In the past I used to dabble more with design and drawing,
      but now I'm a fully dedicated web developer currently working for.
    