extends layout

block content
  section.main-content
    h2= title
    h3 You wanted to find out something more about me?
    :markdown
      My name is Vladimir Vujosevic and I am a web developer primarily focused on a front-end (JavaScript, UI) and lately more involved with Ruby development.
      Currently I'm working at [Spoiled Milk](http://www.spoiledmilk.com) where I'm molding lots of great UIs for various products. 

      In my spare time I enjoy playing [sports](blabla) with my friends or grabbing some coffee.

      This is the place where I am showcasing some of the work I've done and was involved professionaly but also some personal projects,
      while on my blog I will be writting and documenting about problems I've encountered and solutions I've come up with and last but not least some misclanious ramblings.