extends layout

block content
  section.main-content
    h2= title
    
    h3 Send me an email
    
    form(type="post", action="/", class="contact_me")
      div
        label(for="name") Your Name
        input(type="text", id="name", name="name", required="true")
      div
        label(for="name") Your Email
        input(type="e-mail", id="email", name="email", required="true")
      div
        label(for="subject") Subject
        select(id="subject")
          option(value="hi") Just wanted to say hi!
          option(value="quote") I need a quote for a project!
      div
        label(for="message") Message
        textarea(id="message", name="message", required="true")
      
      input(type="submit",value="send")