extends layout
block content
  .container
    aside.sidebar
        menu = ["stream", "works", "about", "blog"]
            nav
                ul#main-menu
                    each menuitem in menu
                        include includes/menu
    
    section.main-content
     h2 Latest from the blog
     article
      h3 Blog title number one!
      time(datetime='17/08/2012') 17/08/2012 
        time 23:32
      
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus auctor turpis convallis lacinia. Pellentesque ultrices scelerisque massa ut tempor. Phasellus quis sapien nunc, eget pretium turpis. Sed sit amet felis ut lacus gravida bibendum non mollis justo. Nulla elit urna, commodo id suscipit eu, tempor vitae ligula.
       
     h2 Stream
     article
     
      