extends layout
block content
	section.main-content
		h2 Latest from the blog
		each article in articles
			date = article.pubdate.toString()
			article
				h3= article.title
				time(datetime='17/08/2012')= date.substr(0,21)
				
				!=article.description
		h2 Stream
			article