!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title #{title}
  meta(name='description', content='Welcome to online portfolio of web developer Vladimir Vujosevic')
  meta(name='author', content='Vladimir Vujosevic')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css("http://wilbur.io.s3.amazonaws.com/all.css")
  != css("http://fonts.googleapis.com/css?family=Dosis|Lato:300")
  != css('app')
  
body
  include includes/header
  .container
    aside.sidebar
      include includes/menu
      
    block content

  != js('http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js')
  //!= js('application') 
  != js('app_core')
  != js('app_config')
  != js('app_stream')
  != js('plugins/jquery.peffect')
  != js('app')
  
  script(type="text/javascript")
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34356848-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
| </html>