@import 'nib'
// Variables 
ffamily = 'Lato','PT Sans', sans-serif
ffamily2 = 'PT Sans', 'Lato',sans-serif

body 
  font-family: ffamily
  font-weight: 300
  opacity:0
  
  &.no-js
    opacity:1

.container
  margin-top 60px
  margin: 0
  width:960px
  
h1, h3 
  font-family: ffamily

h1#logo 
  font-family: ffamily
  font-weight:300
  font-size:46px
  letter-spacing:-.04em
  padding:45px 0 0 45px;
  text-transform: uppercase;
  background: url(/img/logo.png)
  background-repeat:no-repeat
  background-position: 350px 0 
  
  a
    text-decoration:none
  
  span 
    font-size:22px;
h2
  font: bold 18px/24px "open sans"
  letter-spacing:-0.07em
  text-transform:uppercase
  width: 90%

  &:first-child
    color:#00a8ff
  &:nth-child(3)
    color:#ffc208

h3
  margin: 20px 0
  letter-spacing: -.06em;
  word-spacing: .2em;
  font: bold 20px/24px ffamily
  
  
pre
  font-family: courier
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black

p
  font-size:17px
  line-height:26px
  font-family:ffamily
  font-style: normal

aside
  float:left
  width:100px
  font-size:24px
  font-weight: normal
  text-transform:uppercase
  padding: 62px 50px 20px
  
  a
    font-family: ffamily
    text-decoration:none
    font-weight: 300 !important
    padding: 2px 10px
    border-bottom:1px solid white
    position:relative
    z-index:1
    border-left: 3px solid transparent;
    transition(all ease-in-out 500ms) 
    &:hover
      background-color: #e2e2e2
      border-bottom: 1px solid transparent;
      border-left: 3px solid #000;
      z-index:2
      text-shadow:1px 1px 1px #fff;
    &:active 
      color:#999
      border-left-color:transparent
      background-color: #fdfdfd
      border-top: 1px solid #ccc;
      border-right: 3px solid #ccc;
      transition-duration(100ms)
    &:visited
      text-decoration:none;

section.main-content
  float:right
  width:669px
  padding-left:20px
  padding-top:50px
  border-left:1px solid #ccc;
  
  
// Responsive
@media screen and (max-width:768px)

  h1#logo
    font-size: 36px
    padding:25px 0 0 25px;
    background-position: 260px -10px
  
  aside
    width: auto
    padding: 10px 0 0 10px
    float: none
    
    ul
    	display:table
    	margin:0 auto 
    	
	    li
	      display:inline
	      font-size:15px
	      font-weight:bold
	    a
	      padding: 5px
	      display:inline
	      font-weight:800
	      border:0
	      &:hover, &:active
	      	border:none
	      
  
  section.main-content
  	float:none
  	width:auto
  	text-align:justify
  
  .container
  	width: auto
  	padding-right: 20px
      
@media screen and (min-width: 480px) and (max-width: 768px)

  h1#logo
    font-size: 40px
    padding:25px 0 0 25px;
    background-position: 300px -10px
  
  aside
    width: auto
    padding: 0 0 0 20px
  ul
    text-align:center
    li
      display:inline
      text-align:center
      font-size:20px
      font-weight:bold
      width:20%
  	a
	    padding: 0 15px 0
	    font-weight:bold
	    width:20%
  
  section.main-content
  	float:none
  	width:auto
  	text-align:justify
  	 
 	.container
  	width: auto
  	padding-right: 20px
  	
