@import 'nib'
body 
  font-family: 'Lato', sans-serif;

.container
  margin-top 60px
  margin: 0
h1, h3 
  font-family: 'Lato', sans-serif;
h2
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  smooth-button()
  width: 90%
  font-size: 2em

h3
  margin-top: 20px
pre
  font-family: courier
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black
  